name: Create Release

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release type'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  release:
    uses: cloudsteak/cm-workflows/.github/workflows/release.yml@1.0.0
    with:
      release_type: ${{ inputs.release_type }}
      branch: main