name: Build & Push Lab Backend

on:
  push:
    branches:
      - 'main'
    paths:
      - lab-backend/**
      - Dockerfile
      - pyproject.toml
      - poetry.lock
      - .github/workflows/docker-build-lab-backend.yml

jobs:
  build:
    uses: cloudsteak/cm-workflows/.github/workflows/docker-build.yml@main
    with:
      image_name: lab-backend