name: Build & Push Lab Cleanup Trigger

on:
  push:
    branches:
      - "main"
    paths:
      - "lab-cleanup-trigger/**"
      - ".github/workflows/docker-build-lab-cleanup.yml"

jobs:
  build:
    uses: cloudsteak/cm-workflows/.github/workflows/docker-build.yml@main
    with:
      image_name: lab-cleanup-trigger
      build_context: ./lab-cleanup-trigger
      dockerfile_path: ./lab-cleanup-trigger/Dockerfile
