name: Backend Staging - Build & Push

on:
  push:
    branches:
      - "main"
    paths:
      - lab-backend/**
      - Dockerfile
      - pyproject.toml
      - poetry.lock
      - .github/workflows/docker-build-lab-backend.yml

jobs:
  build:
    uses: cloudsteak/cm-workflows/.github/workflows/staging-build-push.yml@1.2.1
    with:
      image_name: lab-backend
